.jumbotron {
    background-image: url("../img/pirate-ship.jpg");
    background-repeat: no-repeat;
    background-position: center, ;
    background-size: cover;
        h1 {
        color: white;
        font-family: 'Shadows Into Light', cursive;
        text-align: center;
        vertical-align: 30px;
        }
}
